html {
  font-size: 18px;
}

body {
  font-size: 1rem;
}

h1 { text-align: center;
     margin-bottom: 25px;
}

p { text-align: center;
    margin: 0 0 10px;
}

#full-size {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

i {
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.jumbotron {
    background-color: rgb(1, 1, 62);
    color: white;
}

.my-4 {
  background-color: rgb(67, 155, 58);
}


i.frown {
  background-image: url('//cdnjs.cloudflare.com/ajax/libs/twemoji/1.2.1/36x36/1f612.png');
}
i.tear {
  background-image: url('//twemoji.maxcdn.com/72x72/1f613.png');
}
i.happy {
  background-image: url('//twemoji.maxcdn.com/72x72/1f603.png');
}

.title {
    margin: 0;
    display: inline-block;
    color: rgb(1, 1, 62);
  }

.results-data{
  color: rgb(1, 1, 62);
}

.emoji {
  margin:0 0 0 10px;
}

input {
  display: block;
  padding: 5px;
  margin: 12px auto;
  width: 100%;
}

.results {
min-height: 20px;
padding: 19px;
margin: 1px 0 ;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  
}
.results-data {
  margin: 1.5rem 0;
}
.box-of-stuff {
min-height: 20px;
padding: 19px;
margin: 1px 0 ;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.text-sucess {
  color: #468847;
}

.text-danger {
  color: #b94a48;
}

.center-meh-boi {
  position: absolute;
  top: 50%;
  width: 100%;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .center-meh-boi {
    position: relative;
    top: 0;
    margin-top: 0 !important;
  }
}